body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav button {
    margin-left: 20px;
}

.banner {
    background: url('https://i.imgur.com/O5bIY0P.jpeg') center/cover;
    padding: 80px;
    color: rgb(15, 13, 13);
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

.galeria img {
    width: 30%;
    margin: 5px;
    border-radius: 10px;
}

footer {
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}


.dark {
    background: #222;
    color: white;
}
.dark header, .dark footer {
    background: #000;
}
